/*=============================================
  ____  _____ _______        _     _           
 |  _ \|  __ \__   __|      | |   (_)          
 | |_) | |  | | | | ___  ___| |__  _  ___  ___ 
 |  _ <| |  | | | |/ _ \/ __| '_ \| |/ _ \/ __|
 | |_) | |__| | | |  __/ (__| | | | |  __/\__ \
 |____/|_____/  |_|\___|\___|_| |_|_|\___||___/
 
 !------- We Convert IDEAS into REALITY ------!

 =============================================*/

@import url('http://amarbornomala.org/webfont/?family=ABShaplaBeta');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    transition: all 0.3s ease-in-out;
}

* a:hover {
    text-decoration: none;
    color: #F9690E;
}

body {
    font-family: 'ABShaplaBeta', Philosopher, sans-serif;
    position: relative;
}

.flex {
    background: url('https://raw.githubusercontent.com/musafirshahid/yourbirthdate/gh-pages/img/symphony.png') repeat fixed 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#content p {
    font-size: 1.5em;
    line-height: 2em;
}

#btn {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #777;
    color: whitesmoke;
    border: none;    
}

.start-btn {
    color: #ddd;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #777;
    color: whitesmoke;
}

.start-btn:hover {
    color: #fff;
}

#num {
    width: 200px;
    height: 50px;
    line-height: 50px;
    padding-left: 1em;
    margin-bottom: 2em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
    line-height: 60px;
}

.footer p {
    margin: 0;
    display: inline-block;
}

.footer ul {
    list-style: none;
    margin: 0;
}

.footer li {
    display: inline-block;
}

.footer li a {
    padding: 0.5em 1em;
}

.facebook, .twitter, .google-plus {
    color: #ddd;
}

.facebook:hover, .twitter:hover, .google-plus:hover {
    color: #fff;
}

.facebook {
    background: #3A5795;
}

.twitter {
    background: #1DA1F2;
}

.google-plus {
    background: #D73D32;
}

@media screen and (max-width: 360px) {
    
    #content p {
        font-size: 1em;
    }
    
    .gp {
        display: none !important;
    }
}
